<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
    {{ $syntaxHighlight := resources.Get "css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $syntaxHighlight.Permalink }}" />
    <script>
      const prefersDarkTheme = window.matchMedia(
        "(prefers-color-scheme: dark)",
      );
      if (prefersDarkTheme.matches) {
        document.querySelector("html").setAttribute("class", "dark-theme");
      } else {
        const darkTheme = sessionStorage.getItem("dark_theme");
        if (darkTheme) {
          document.querySelector("html").setAttribute("class", "dark-theme");
        }
      }
    </script>
