<style>
  :root {
    --text-color: #444;
    --header-color: #222;
    --bg-color: #fff;
    --link-color: #3273dc;
    --code-bg-color: #f2f2f2;
    --pre-code-color: #222;
    --block-quote-color: #222;
    --help-text-color: #777;
  }

  .dark-theme {
    --text-color: #ddd;
    --header-color: #eee;
    --bg-color: #333;
    --link-color: #8cc2dd;
    --code-bg-color: #777;
    --pre-code-color: #ddd;
    --block-quote-color: #ccc;
    --help-text-color: #aaa;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: var(--bg-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--header-color);
  }

  a {
    color: var(--link-color);
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: var(--code-bg-color);
  }

  pre code {
    color: var(--pre-code-color);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  /* div.highlight pre { */
  /*   background-color: initial; */
  /*   color: initial; */
  /* } */
  /**/
  /* div.highlight code { */
  /*   background-color: unset; */
  /*   color: unset; */
  /* } */

  .chroma code {
    background-color: #24283b;
    color: #f5a97f;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--block-quote-color);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: var(--help-text-color);
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  .float-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 35px;
    right: 20px;
    width: min-content;
    border-radius: 5px;
    background: rgba(34, 247, 80, 0.4);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
  }

  .float-menu__item {
    display: flex;
    place-items: center;
    padding: 4px;
    cursor: pointer;
  }

  .float-menu__item:first-of-type {
    border-bottom: 1px solid #909090;
    padding: 10px;
  }
</style>
