{{ define "title" }}404{{ end }}

{{ define "main" }}
<main>
	<h1 align="center" style="font-size: 5rem;">404</h1>
	<div align="center">
		<img width="200" src="https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUybGpibnBwd3Nkb2poajl4YXhqbGVuMHFibGpvaGY2ZTZ0enR4dmRhMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/aEkkl6k8GPgAuoDCeY/200w.webp" />
	</div>
	<h3 align="center">Sorry, we can't find your resource</h3>
	<p align="center" style="text-align: center;">The URL might be incorect or the post has been deleted</p>
	<p align="center" style="text-align: center;"><a class="link" href="/">Go back to home page</a></p>
  
</main>
{{ end }}
