{{ define "main" }}
<main>
  {{ .Content }}
  <h2 style="margin: 1em 0;">Recent Posts</h2>
  <div class="blog-posts">
    {{ range .Site.RegularPages.ByDate.Reverse.Limit 5 }}
    <!-- <li> -->
    <!--   <span> -->
    <!--     {{ .Date.Format (default "02/01/2006" .Site.Params.dateFormat) }} -->
    <!--   </span> -->
    <!--   <span>-</span> -->
    <!--   <a class="link" href="{{ .Permalink }}"> -->
    <!--     {{.Title}} -->
    <!--   </a> -->
    <!-- </li> -->

    <div class="post">
      <a href="{{ .Permalink }}">
      {{ with .Params.image }}
        <div class="post-img__wrapper">
          <img class="post__img--bg" src="{{ . }}" />
          <img class="post__img" src="{{ . }}" />
        </div>
      {{ end }}
      </a>
      <div class="post__info">
        <a href="{{ .Permalink }}">
          <h3>
            {{.Title}}
          </h3>
        </a>
        <div class="post__update">
          <time datetime='{{ .Date.Format "02/01/2006" }}' pubdate>
            {{ .Date.Format (default "02/01/2006" .Site.Params.dateFormat) }}
          </time>
        </div>
        <div style="margin-top: 10px;">
          {{ if (.GetTerms "tags") }}
          {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="tag">
            {{ .LinkTitle }}
          </a>
          {{ end }}
          {{ end }}
        </div>

      </div>
    </div>
    {{ else }}
    <div>
      No posts yet
    </div>
    {{ end }}
    <div class="seemore-btn">
      <a href="/blog" class="outline-button">See more article</a>
    </div>
  </div>
</main>
{{ end }}
