{{ define "main" }}
<main>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:10px">Posts have tag <span class="tag">{{ .Title
      }}</span></h3>
  <div style="margin-bottom:10px;margin-top:10px">
    <a href="{{ "tag" | relURL }}" style="display: flex; flex-direction: row; align-items: center; gap: 0px;">
        {{- partial "icon/x-mark.html" -}}
        Remove filter
    </a>
  </div>
  {{else}}
  <h2>Archive</h2>
  {{ end }}
  <div class="blog-posts">
    {{ $paginator := .Paginate .Pages.ByDate.Reverse 8 }}
    {{ range $paginator.Pages.GroupByDate "January 2006" }}
    <h3 style="margin-top: 2em;">{{ .Key }}</h3>
    {{ range .Pages}}
    <div class="post">
      <a href="{{ .Permalink }}">
        <h3>
          {{.Title}}
        </h3>
      </a>
      <div class="post__update">
        {{- partial "icon/date.html" . -}}
        <time datetime='{{ .Date.Format "02/01/2006" }}' pubdate>
          {{ .Date.Format (default "02/01/2006" .Site.Params.dateFormat) }}
        </time>
      </div>
      <div style="margin-top: 10px;">
        {{ if (.GetTerms "tags") }}
        {{- partial "icon/tag.html" -}}
          {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="tag">
            {{ .LinkTitle }}
          </a>
          {{ end }}
        {{ end }}
      </div>

    </div>
    {{ else }}
    <div>
      No posts yet
    </div>
    {{ end }}
    {{ end }}
    {{- partial "pagination.html" . -}}
  </div>
</main>
{{ end }}
