
{{ define "main" }}
<main>
{{ if not .Params.main }}
  <article>
  <h1>{{ .Title }}</h1>
  <div class="frontmatter-wrapper">
    <div class="frontmatter">
      <div class="frontmatter__key">Posted</div>
      <div class="frontmatter__value">
          <time datetime='{{ .Date.Format "02/01/2006" }}' pubdate style="font-weight: 600;">
            {{ .Date.Format (default "02/01/2006" .Site.Params.dateFormat) }}
          </time>
      </div>
    </div>
      <div class="frontmatter">•</div>
    <div class="frontmatter">
      <div class="frontmatter__key">Updated</div>
      <div class="frontmatter__value">
          <time datetime='{{ .Lastmod.Format "02/01/2006" }}' pubdate style="font-weight: 600;">
            {{ .Lastmod.Format (default "02/01/2006" .Site.Params.dateFormat) }}
          </time>
      </div>
    </div>
    <div class="frontmatter frontmatter--tags">
        <div class="frontmatter__value">
        {{ if (.GetTerms "tags") }}
        {{- partial "icon/tag.html" -}}
        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="tag">
            {{ .LinkTitle }}
          </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
      {{ partial "language-selector.html" . }}
      {{ with .Params.image }}
      <img class="img-cover" src="{{ . }}" />
      {{ end }}
  </div>
  {{ end }}
  {{ partial "toc.html" . }}
  {{ .Content }}
  </article>
</main>
{{ end }}

{{ define "script" }}
  {{ if .Params.side_toc }}
    {{ $sideToc := resources.Get "js/side-toc.js" | minify | fingerprint }}
      <script src="{{ $sideToc.Permalink }}"></script>
  {{ end }}
{{ end }}

{{ define "side-toc" }}
  {{ partial "side-toc.html" . }}
{{ end }}

