<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}vi{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ . | absURL }}" />{{ end }}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">

  {{ $syntaxHighlight := resources.Get "css/syntax.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $syntaxHighlight.Permalink }}" />
  <script>
    const prefersDarkTheme = window.matchMedia(
      "(prefers-color-scheme: dark)",
    );
    if (prefersDarkTheme.matches) {
      document.querySelector("html").setAttribute("class", "dark-theme");
    } else {
      const darkTheme = sessionStorage.getItem("dark_theme");
      if (darkTheme) {
        document.querySelector("html").setAttribute("class", "dark-theme");
      }
    }
  </script>
</head>

<body>
  <header>
    <section class="header">
      <a href="{{ "" | relURL }}" class="title">
        <h2>{{ .Site.Title }}</h2>
      </a>
      <span class="toggle-theme" id="toggle-theme-button" onclick="toggleTheme()">
        <svg width="20px" height="20px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="var(--text-color)"
          viewBox="0 0 20 20">
          <path stroke
            d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z" />
        </svg>
      </span>
    </section>
    <nav>
      <a href="{{ "" | relURL }}">Home</a>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      {{ with .Site.GetPage "/blog" }}
      <a href="{{ "blog" | relURL }}">Blog</a>
      {{ end }}
    </nav>
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    Made with 💓
  </footer>

  <div class="float-menu">
    <div class="float-menu__item" onclick='window.scrollTo({top: 0});'>
      <svg width="30px" height="30px" viewBox="0 0 24 24" fill="var(--text-color)" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 7C12.2652 7 12.5196 7.10536 12.7071 7.29289L19.7071 14.2929C20.0976 14.6834 20.0976 15.3166 19.7071 15.7071C19.3166 16.0976 18.6834 16.0976 18.2929 15.7071L12 9.41421L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L11.2929 7.29289C11.4804 7.10536 11.7348 7 12 7Z" />
      </svg>
    </div>
  </div>
  <script>
    let $toggleButton = document.querySelector("#toggle-theme-button");

    function toggleTheme() {
      let $html = document.querySelector("html");

      if ($html.classList.contains("dark-theme")) {
        $html.classList.remove("dark-theme");
        sessionStorage.removeItem("dark_theme");
        changeIconTheme("day", $toggleButton);
      } else {
        $html.classList.add("dark-theme");
        sessionStorage.setItem("dark_theme", "true");
        changeIconTheme("night", $toggleButton);
      }
    }

    function changeIconTheme(theme, element) {
      if (theme == 'day') {
        element.innerHTML = `
        <svg fill="var(--text-color)" width="20px" height="20px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20">
            <path d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"/>
        </svg>
        `;
      } else if (theme == "night") {
        element.innerHTML = `
        <svg  fill="var(--text-color)" width="20px" height="20px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20">
            <path d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"/>
        </svg>
        `
      }
    }
  </script>

</body>
</html>
