<figure class="highlight">
  {{- if transform.CanHighlight .Type }}
  <div class="decoration-codeblock-wrapper">
    <div class="decoration-codeblock__side">
      <div class="decoration-codeblock__language">
        <i class="nf nf-dev-{{ .Type }}"></i>
      </div>
      {{- with .Attributes.title }}
      <div class="decoration-codeblock__side">
        {{ . }}
      </div>
      {{- end }}
    </div>
    <div class="decoration-codeblock__right"></div>
  </div>
  <pre tabindex="0" class="chroma">
    <code class="language-{{ .Type }}" data-lang="{{ .Type }}">
      {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
      {{- end -}}
    </code>
  </pre>
  {{- else }}
  <pre tabindex="0" class="chroma non-lang"><code data-lang="">{{ .Inner }}</code></pre>
  {{- end }}
</figure>
