{{ define "main" }}
<main>
  <h1>Tweet</h1>
  <ul class="tweet-wrapper">
    {{- range (( where .Site.RegularPages "File.Dir" "eq" "thoughts/" ).ByParam "datetime").Reverse  -}}
    <li class="tweet">
      <div class="tweet__header">
        <div class="tweet__img">
          <img src="{{ .Site.Params.twtxt.avatar }}" />
        </div>
        <div class="tweet__info">
          <div class="tweet__name">{{ .Site.Params.twtxt.name }}</div>
          <div class="tweet__username">@{{ .Site.Params.twtxt.nick }}</div>
        </div>
      </div>
      <div class="tweet__content">{{ .Content }}</div>
      <div class="tweet__datetime">{{ time.Format "03:04 PM - Jan 02, 2006" .Params.datetime }}</div>
    </li>
    {{- end -}}
  </ul>
</main>
{{ end }}
