/*
*  --------     FONT      -------
*/ 

@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCode.ttf");
  font-family: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Medium.ttf");
  font-family: 500;
  font-display: swap;
}

::view-transition-old(root) {
  animation-delay: 0.7s;
}

::view-transition-new(root) {
  animation: circle-in 0.7s;
}

@keyframes circle-in {
   from { clip-path: circle(0% at 50% 50%);}
   to { clip-path: circle(100% at 50% 50%);}
}

:root {
  --body-text-font: Arial, Helvatica, sans-serif;
  --heading-text-font: "Lora", serif;
  --code-text-font: "Cascadia Code", Consolas;
  /* --background_color: #f9f9f9; */
  --background_color: #fbf9f3;
  --background-color-rgba: rgba(251, 249, 243, 0.8);
  --text_color: #171D31;
  --icon_floatmenu_color: #474747;
  --heading_color: #183e22;
  --link_color: #1B6000;
  --sharp_symbol_color: #c7c7c7;
  --table_border_color: #adadad;
  --table_even_row_background_color: #e3e1e1;
  --table_heading_background_color: #c3eac1;
  --table_heading_text_color: #303030;
  --hr_color: #afafaf;
  --hr_color-trans: rgba(175, 175, 175, 0.02);
  --code_background_color: #e7e4e4;
  --code_block_background_color: #1a1b26;
  --tag_background_color: #c3eac1;
  --tag_text_color: #000000;
  --tag_border_color: #11950a;
  --header_bg_color: #e3e3e3;
  --notbyai-badge-stroke: #000;
  --notbyai-badge-bg: #fff;
  --footer_text_clr: rgba(0, 0, 0, 0.7);
  --toc-bg-clr: #e3e1e1;
  --side-toc-bg-clr: #dbedda;
  --side-toc-slide-bg-clr: #e3e3e3;
  --side-toc-slide-fg-clr: #183e22;
  --max-width-main: 75ch;
  --tweet-img-bg-clr: #fbf9f3;
  --tweet-bg-clr: #ffffff;
  --tweet-fade-text-clr: rgba(0, 0, 0, 0.6);
  --star-this-repo-bg: #e5e5e5;
  --star-this-repo-fg: #000;
  --theme-selector-bg: rgb(165, 247, 180);
  --post-bg-color: #ffffff;
  --blockquote-bg-color: #dbf1df;
  interpolate-size: allow-keywords;
}

/*
*  --------     DARK THEME   -------
*/
.dark-theme {
  --background_color: #1e2129;
  --background-color-rgba: rgba(30, 33, 41, 0.8);
  --text_color: #e3e1e1;
  --icon_floatmenu_color: #d3d3d3;
  --heading_color: #75d59b;
  --link_color: #96fdf5;
  --sharp_symbol_color: #414141;
  --table_border_color: #5e5e5e;
  --table_even_row_background_color: #403b3b;
  --table_heading_background_color: #2b462a;
  --table_heading_text_color: #e2e1e1;
  --hr_color: #4b4848;
  --hr_color-trans: rgba(175, 175, 175, 0.02);
  --code_background_color: #3d3d3d;
  --code_block_background_color: #24283b;
  --tag_background_color: #2b462a;
  --tag_text_color: #ebe9e9;
  --tag_border_color: #93c990;
  --header_bg_color: #0f131c;
  --notbyai-badge-stroke: #fff;
  --notbyai-badge-bg: #000;
  --footer_text_clr: rgba(255, 255, 255, 0.7);
  --toc-bg-clr: #181a18;
  --side-toc-bg-clr: #255e42;
  --side-toc-slide-bg-clr: #505050;
  --side-toc-slide-fg-clr: #81ffa2;
  --tweet-img-bg-clr: #fff;
  --tweet-bg-clr: #252933;
  --tweet-fade-text-clr: #706d6d;
  --star-this-repo-bg: ##2d313b;
  --star-this-repo-fg: #fff;
  --theme-selector-bg: rgb(36, 118, 55);
  --post-bg-color: #252933;
  --blockquote-bg-color: #2b2e37;
}

/* ----------- RESET --------------- */
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* -------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-display: swap;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--body-text-font), sans-serif;
  margin: 0 auto;
  background-color: var(--background_color);
  color: var(--text_color);
  min-height: 100vh;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-text-font), serif;
  margin: 1em 0 0.3em 0;
  color: var(--heading_color);
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  /*word-spacing: -4px;*/
}

h2 {
  margin-top: 2em;
}

h4,
h5 {
  font-family: var(--body-text-font), serif;
}

h1 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

p {
  margin-top: 1em;
  line-height: 1.7em;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  margin: 10px auto;
  /* width: 60%; */
  /* border: 1px solid var(--hr_color); */
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--hr_color-trans), var(--hr_color), var(--hr_color-trans));
}

ul,
ol {
  margin-top: 0.8em;
  list-style-position: outside;
  margin-left: 1rem;
  padding-right: 1rem;
}

ul li,
ol li {
  margin-top: 0.2em;
  word-wrap: break-word;
  line-height: 1.7em;
  text-align: justify;
}

a {
  color: inherit;
}

.divider {
  border: 0.1px solid var(--table_border_color);
  margin: 5px auto;
}

main {
  flex: 1;
  padding-top: 50px;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  max-width: var(--max-width-main);
}

.main-wrapper {
  position: relative;
  width: min(100%, var(--max-width-main))
}

/*
*  --------     TABLE   -------
*/
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: var(--table_even_row_background_color);
}

table td,
table th {
  border: 1.5px solid var(--table_border_color);
  padding: 0.2em;
}

table th {
  padding: 0.3em;
  background-color: var(--table_heading_background_color);
  color: var(--table_heading_text_color);
}

/*
*  --------     HIGHLIGHT   -------
*/
code {
  font-family: var(--code-text-font), monospace;
  display: inline-block;
  padding: 0 0.3em;
  background-color: var(--code_background_color);
  border-radius: 3px;
}

.chroma {
  width: 100%;
  overflow-x: auto;
  padding: 40px 14px 14px 14px;
  border-radius: 10px;
  box-shadow: var(--tag_border_color) 0 0 0 1px;
}

.chroma:not(.non-lang) {
  padding: 0px 14px 0px 14px;
}


.chroma code {
  font-size: 0.9rem;
  padding: 0;
  background-color: inherit;
  display: block;
  margin-bottom: 0;
}

.chroma:not(.non-lang) code {
  transform: translateY(15px);
}

.highlight {
  margin: 1em auto;
  position: relative;
  padding: 0 1rem;
}

.decoration-codeblock-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.decoration-codeblock__language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.decoration-codeblock__title {
  font-size: 0.9rem;
}

.decoration-codeblock__left {
  position: absolute;
  top: 0;
  left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em;
  color: #cad3f5;
  font-family: var(--code-text-font);
  font-size: 0.8rem;
  border-top-left-radius: 10px;
  background-color: #32383d;
}

.decoration-codeblock__right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0.3em 0.4em;
  border-radius: 10px;
  opacity: 0.5;
  transition: all .1s ease-in-out;
}

.decoration-codeblock__right:hover {
  opacity: 1;
}

.decoration-codeblock__right button {
  background-color: transparent;
}

.chroma code .line {
  padding: 2px 0;
}

@media only screen and (max-width: 600px) {
  .decoration-codeblock__right {
    opacity: 0.5;
  }
}

/*
*  --------     BLOCKQUOTE   -------
*/
blockquote {
  padding: 5px;
  margin-top: 0.5em;
  border-left: 4px solid var(--link_color);
  background-color: var(--blockquote-bg-color);
}

blockquote p {
  margin-top: 0;
  margin-left: 5px;
}

/*
*  --------     LINK   -------
*/
a {
  text-decoration: none;
}

.link {
  color: var(--link_color);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link svg {
  transform: translateY(0.05em) translateX(2px);
  width: 0.8em;
  height: 0.8em;
}

/*
*  --------     IMAGE   -------
*/
main img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
}

.img-cover {
  margin-top: 1rem;
  border-radius: 0;
}

/*
*  --------     LIST   -------
*/

ul,
ol {
  padding-left: 1.3em;
}

/*
*  --------     HEADER      -------
*/
header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  width: 75ch;
  background-color: var(--background-color-rgba);
  transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

header.hide {
  transform: translateY(-100px);
}

.header__home {
  font-family: var(--heading-text-font);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--heading_color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 10px 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 10px 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 10px 1rem;
  }
}

/*
*  --------     TOP-MENU      -------
*/
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.top-menu__child::after {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: var(--link_color);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.top-menu__child:hover {
  color: var(--link_color);
}

.top-menu__child:hover::after {
  opacity: 1;
  width: 100%;
}

.top-menu--mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .top-menu {
    display: none;
  }

  .top-menu--mobile {
    display: block;
    position: relative;
  }
}

.top-menu--mobile__content {
  position: fixed;
  transform: translateY(-250px);
  transition: all 0.3s ease-in-out;
  background-color: var(--background_color);
  width: 100vw;
  right: 0;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  opacity: 0;
}

.top-menu--mobile__overlay {
  background-color: #1e2129;
  position: fixed;
  display: none;
  opacity: 0;
  width: 110vw;
  height: 100vh;
  z-index: -20;
  transition: opacity 5s linear;
  right: -.7rem;
  top: 0;
}

.top-menu--mobile__child {
  padding: 0.7em 0;
}

.menu-icon__checkbox:checked~.top-menu--mobile__content {
  transform: translateY(-18px);
  opacity: 1;
}

.menu-icon__checkbox:checked~.top-menu--mobile__overlay {
  opacity: 0.6;
  display: block;
  top: 0;
}


.menu-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.menu-icon__bar {
  height: 4px;
  background-color: var(--heading_color);
  border-radius: 99px;
  width: 30px;
  transition: 0.2s linear;
}

.menu-icon__checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

.menu-icon__checkbox:checked~.--bar-2 {
  opacity: 0;
}

.menu-icon__checkbox:checked~.--bar-1 {
  transform: translateY(8.9px) rotate(45deg);
}

.menu-icon__checkbox:checked~.--bar-3 {
  transform: translateY(-8.9px) rotate(-45deg);
}


/*
*  --------     FOOTER      -------
*/
footer {
  padding: 1em 0 0em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--footer_text_clr);
  margin-top: 7em;
  margin-bottom: 1em;
  border-top: 1px solid var(--table_border_color);
  width: min(calc(100% - 2em), var(--max-width-main))
}

footer p {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer__notbyai {
  display: flex;
  justify-content: center;
}

.footer__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4em;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.star-this-repo-wrapper {
  --star-clr: var(--star-this-repo-fg);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--table_border_color);
  background: var(--star-this-repo-bg);
  color: var(--star-this-repo-fg);
  transition: all .3s ease-in-out;
}

.star-this-repo-wrapper:hover {
  --star-clr: #cbc700;
  transform: translateY(-5px);
}

.star-this-repo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  padding: 0.4em 1em;
  color: var(--star-this-repo-fg);
  font-size: 1rem;
}

.star-this-repo-wrapper::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }

  28%,
  100% {
    left: 125%;
  }
}

.footer__nav>ul {
  margin: 0;
  padding: 0;
}

.footer__nav-header {
  color: var(--text_color);
  font-weight: 600;
}

.footer__nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 17px;
  align-items: center;
  margin: 10px 0;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 5px;
  align-items: center;
}

.footer__powered {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 5px;
}


@media only screen and (max-width: 450px) {
  .footer__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  .footer__nav {
    align-items: center;
  }

  .footer__nav-item {
    text-align: center;
  }

  .footer__nav-header {
    text-align: center;
  }
}

/*
*  --------     FLOAT MENU   -------
*/

.float-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: min-content;
  background-color: rgba(34, 247, 80, 0.4);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.float-menu__item {
  display: flex;
  place-items: center;
  padding: 4px;
  cursor: pointer;
  position: relative;
}

.float-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.theme-selector {
  position: absolute;
  top: 10px;
  opacity: 0;
  right: 0;
  display: none;
  flex-direction: row;
  gap: 2px;
  background-color: var(--theme-selector-bg);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  padding: 0.2em;
  border-radius: 10px;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.theme-selector.show {
  display: flex;
}

@keyframes show-theme-selector {
  100% {
    top: 100%;
    opacity: 1;
  }
}

@keyframes hide-theme-selector {
  0% {
    top: 100%;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

.theme-selector__item {
  padding: 0.6em;
  border-radius: 8px;
}

.theme-selector__item:hover {
  background: rgba(34, 247, 80, 0.5);
}

.theme-selector__divider {
  border: 0.5px solid var(--icon_floatmenu_color);
}

/*
*  --------     TAG   -------
*/

.tag {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 0.3em 0.7em;
  background-color: var(--tag_background_color);
  color: var(--tag_text_color);
  border-radius: 0.5em;
  /* border: 1px solid var(--tag_border_color); */
  margin-bottom: 5px;
  margin-right: 3px;
}


.tag-count {
  padding: 0 2px 0 10px;
  font-weight: 600;
  font-size: 1rem;
}


/*
*  --------     FRONTMATTER   -------
*/

.frontmatter-wrapper {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.frontmatter {
  display: inline-block;
  font-size: 0.86rem;
  margin-right: 5px;
  margin-top: 5px;
}

.frontmatter__key {
  display: inline-block;
}

.frontmatter__value {
  margin-left: 0.2em;
  display: inline-block;
}

.frontmatter--tags {
  display: block;
}

@media only screen and (max-width: 600px) {
  .frontmatter-wrapper {
    width: 100%;
  }

  /* .frontmatter { */
  /*   display: flex; */
  /*   flex-direction: row; */
  /*   justify-content: space-between; */
  /*   gap: 0.5em; */
  /*   font-size: 0.86rem; */
  /* } */
}

/*
*  --------     STAGE   -------
*/

.stage {
  padding: 0 0.3em;
  font-size: 0.9rem;
  border-radius: 4px;
  width: fit-content;
}

.stage--seedling {
  background-color: #a6fdc9;
  color: #000000;
}

.stage--budding {
  background-color: #9dfdad;
  color: #000000;
}

.stage--evergreen {
  background-color: #7fdc94;
  color: #000000;
}

/*
*    ----- POST ------
*/

.post {
  border: 1px solid var(--table_border_color);
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--post-bg-color);
}

.post h3 {
  margin-top: 9px;
}

.post__update {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--icon_floatmenu_color);
}

.external-icon {
  width: 20px;
}

.post__info {
  padding: 8px 18px;
}

.post-img__wrapper {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.post__img {
  border-radius: 0;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.post__img--bg {
  width: 100%;
  position: absolute;
  filter: blur(15px) brightness(0.6);
}


/*
*  ------- Button ------
*/

.outline-button {
  border: 1px solid var(--table_border_color);
  padding: 0.3em 1em;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.outline-button:hover {
  transform: translateY(-3px);
  background-color: var(--heading_color);
  color: var(--background_color);
}

/*
*    ----- TOC ------
*/

.toc {
  background-color: var(--toc-bg-clr);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--heading-text-font);
}

.toc::details-content {
  block-size: 0;
  transition: block-size 0.5s ease-in-out, content-visibility 0.5s ease-in-out;
  transition-behavior: allow-discrete;
}

.toc[open]::details-content {
  block-size: auto;
}

.toc__heading::marker {
  color: var(--heading_color);
}

.toc li {
  margin: 10px auto;
}

.toc__heading {
  font-weight: 600;
  cursor: pointer;
}


#TableOfContents {
  background-color: inherit;
}

.side-toc-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(calc(100%));
}

.side-toc {
  position: sticky;
  top: 50px;
  left: calc(50% + 37ch);
  padding: 2em;
  max-width: 35ch;
  font-family: var(--heading-text-font);
}

.side-toc__child {
  border-left: 3px solid var(--side-toc-slide-bg-clr);
  position: relative;
}

.side-toc__child ul {
  padding-left: 0;
  margin-left: 0;
  transform: translateX(-3px);
}

.side-toc__child li {
  font-size: 0.9rem;
  list-style: none;
  padding: 0.2em 1em;
  width: 28ch;
  margin-top: 0;
  border-left: 3px solid transparent;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-toc__child li.active {
  background-color: var(--side-toc-bg-clr);
  border-left-color: var(--side-toc-slide-fg-clr);
}


.side-toc ul ul {
  display: none;
}

.side-toc__label {
  font-weight: 600;
}

@media only screen and (max-width: 1100px) {
  .side-toc {
    display: none;
  }
}

/*
*    ----- SEARCH -----
*/

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-query {
  width: 100%;
  min-width: 250px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em 1em;
  border: 1px solid var(--table_border_color);
  background-color: var(--background_color);
  color: var(--text_color);
}

#search-results {
  margin-top: 1rem;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.logo {
  width: 30px;
  height: 30px;
  transition: all .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.logo:hover {
  transform: rotate(350deg);
}

.header-img {
  width: 100%
}

@media only screen and (max-width: 600px) {
  .header-img {
    width: 100vw;
    position: absolute;
    left: 0;
  }
}

.about-image__border {
  border: 1px solid var(--heading_color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
}

.about-image__wrapper {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: all .1s ease-in-out;
}

.about-image {
  transform: translateX(-100px) translateY(-60px);
  max-width: none;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.pagination li {
  list-style: none;
}

.page-item {
  border: 1px solid var(--heading_color);
  border-radius: 5px;
  line-height: normal;
}

.page-link {
  padding: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item.active {
  background-color: var(--heading_color);
  color: var(--background_color);
}

.seemore-btn {
  display: flex;
  place-content: center;
  font-weight: 600;
}

#toggle-theme-button {
  display: flex;
  place-items: center;
  padding: 4px;
  cursor: pointer;
  position: relative;
}

#toggle-theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--table_border_color);
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: 0.3em;
}

.tweet-wrapper {
  padding: 0 1rem;
  margin: 0;
}

.tweet {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--tweet-bg-clr);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  transition: all .3s ease-in-out;
}

.tweet:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tweet__img {
  width: 3em;
  height: 3em;
  border-radius: 90%;
  background-color: var(--tweet-img-bg-clr);
  padding: 5px;
}

.tweet__header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.tweet__info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.tweet__name {
  font-weight: 600;
}

.tweet__username {
  font-weight: 300;
  color: var(--tweet-fade-text-clr);
  font-size: 0.95rem;
}

.tweet__datetime {
  margin-top: 1em;
  color: var(--tweet-fade-text-clr);
  font-size: 0.95rem;
}

.tweet__content {
  font-size: 1.1rem;
}

.tweet__content p {
  padding-left: 0;
}

.footnote-ref {
  font-size: 1rem;
  color: var(--link_color);
  position: relative;
  left: 2px;
}

.footnotes {
  margin-top: 3rem;
}

.language-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5em;
  margin-top: 0.5em;
}

.language-selector__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.MathJax:has(mjx-assistive-mml[display="block"]) {
  width: 100%;
  padding: 0.6em 0;
  overflow-x: auto;
}

.blog-posts {
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog-posts h3 {
  padding-left: 0;
}

iframe {
  margin-left: 1rem;
}
